body { 
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.span {
    color: #2e2f42;
}

.nav-link-logo-blue {
    color:#4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

span {
    color: #2e2f42;
}

.nav-link-logo {
    color: #2e2f42;
}

.nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.header-address-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
color: #404bbf;
}

/**================section-1================*/

.hero {
    background-color: #2e2f42;
}

.hero-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-bye-btn {
    color: #fff;
    font-size: 16px;
    background: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-bye-btn:hover,
.hero-bye-btn:focus {
    background-color: #404BBF; 
}


/**=======================================*/

/**================SECTION-2================*/



.features-section {
    font-style: normal;
}

.features-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-item-tex { 
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**=======================================*/

/**================SECTION-3================*/
.team-item {
    background-color: #ffffff;
}

.our-team {
    background: #f4f4fd;
}

.team-title {
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.team-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.profession {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**=======================================*/

/**================SECTION-4================*/

.portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    background-color: #fff;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.portfolio-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-direction {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**=======================================*/

/**================footer================*/

.footer {
    background-color: #2E2F42;
}

.footer-logo-link {
    color:#4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

span {
    color: #2e2f42;
}

.footer-logo {
    color:#f4f4fd;
}

.footer-information {
    color: #f4f4Fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**=======================================*/