body { 
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.span {
    color: #2e2f42;
}

p,h1,h2,h3 {
    margin-top: 0;
    margin-bottom: 0;
}
 
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


.container {
    max-width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/*================header========================*/
.header {
    border-bottom: 1px solid #e7e9fc;
}

.nav-link-logo-blue {
    color:#4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
}

.nav-link-logo {
    color: #2e2f42;
}

.header-container {
    display: flex;
    gap: 332px;
    width: 1158px;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

span {
    color: #2e2f42;
}



.nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    padding: 24px 0;
}

.header-address {
    display: flex;
    gap: 40px;
}

.header-address-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
color: #404bbf;
}

/**================main-hero================*/

.hero {
    padding-bottom: 12px;
    text-align: center;
}

.hero-container {
    background-color: #2e2f42;
    padding: 188px 0; 
}

.hero-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: 472px;
    margin-left: 472px;
    margin-bottom: 48px;
}

.hero-bye-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 635px 0 636px;
    color: #fff;
    font-size: 16px;
    background-color: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
}

.hero-bye-btn:hover,
.hero-bye-btn:focus {
    background-color: #404BBF; 
}


/**=======================================*/

/**================strategy================*/

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    padding-right: 156px;
    padding-left: 156px;
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-section {
    font-style: normal;
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-item-tex { 
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**=======================================*/

/**================our-team================*/

.our-team {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.team-img {
    flex-wrap: wrap;
    object-fit: contain;
}

.name {
    padding: 32px 0;
}

.team-subtitle {
    margin-bottom: 8px;
    text-align: center;
    padding-top: 32px;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.profession {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 32px;
}

/**=======================================*/

/**================our-portfolio================*/

.our-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    background-color: #fff;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.name-category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-img {
    flex-wrap: wrap;
    object-fit: contain;
}

.portfolio-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-direction {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--WHITE, #FFF);
}

/**=======================================*/

/**================footer================*/

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 16px;
    color:#4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

span {
    color: #2e2f42;
}

.footer-logo {
    color:#f4f4fd;
}

.footer-information {
    color: #f4f4Fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
} 

/**=======================================*/